<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#" aria-current="page">Sistema <span class="visually-hidden">(current)</span></a>
        <a class="nav-item nav-link" routerLink="listar-libro" >Lista Libros</a>
        <a class="nav-item nav-link" routerLink="listar-usuario">Lista Usuarios</a>
        <a class="nav-item nav-link" routerLink="prestamo-libro">Prestamo libros</a>
    </div>
</nav>
<div class="container">
    Contenido
    <router-outlet></router-outlet>
</div>