<div class="card">
    <div class="card-header">
        Agregar Usuario
    </div>
    <div class="card-body">
        <form ngNativeValidate [formGroup]="formularioUsuarios" (ngSubmit)="enviarDatos()" >
           <div class="mb-3">
             <label for="" class="form-label">Nombre del Usuario</label>
             <input required type="text"
               class="form-control" formControlName="nombre" name="" id="" aria-describedby="helpId" placeholder="Escribe nombre del usuario">
           </div>
           <div class="mb-3">
             <label for="" class="form-label">Nombre Corto</label>
             <input required type="text"
               class="form-control" formControlName="nombre_corto" name="" id="" aria-describedby="helpId" placeholder="Escribe el nombre corto del usuario">
           </div>
          <div class="mb-3">
            <label for="" class="form-label">fecha_ingreso</label>
            <input required type="date"
              class="form-control" formControlName="fecha_ingreso" name="" id="" aria-describedby="helpId" placeholder="Fecha de ingreso">
          </div>
           <div class="btn-group" role="group" aria-label="Button group name">
            <button type="submit" class="btn btn-success" style="margin-right: 5px;">Agregar</button>
            <button type="button" routerLink="/listar-empleado" class="btn btn-primary">Cancelar</button>
           </div>
        </form>
    </div>
</div>
